<div class="container">
  <h1 class="row justify-content-center">Your restaurants</h1>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/5317/food-salad-restaurant-person.jpg?auto=compress&cs=tinysrgb&h=750&w=1260" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <p class="card-text"><%= restaurant.category %></p>
          <a href="<%= restaurant_path(restaurant) %>" class="btn btn-primary">More details...</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <p><%= link_to '+ Add a new restaurant', new_restaurant_path %></p>
  </div>
</div>
